In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [18]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:70% !important; }</style>"))

In [19]:
confirmed_file = '../csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

df = pd.read_csv(confirmed_file)
display(df.head())
print(df.shape)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,996,1026,1092,1176,1279,1351,1463,1531,1703,1828
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,562,584,609,634,663,678,712,726,736,750
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,2629,2718,2811,2910,3007,3127,3256,3382,3517,3649
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,713,717,717,723,723,731,738,738,743,743
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,24,24,24,25,25,25,25,26,27,27

(264, 102)

In [3]:
df.isnull().sum()

Province/State    182
Country/Region      0
Lat                 0
Long                0
1/22/20             0
                 ...
4/24/20             0
4/25/20             0
4/26/20             0
4/27/20             0
4/28/20             0
Length: 102, dtype: int64

In [4]:
df['Country/Region'].value_counts()

China               33
Canada              15
France              11
United Kingdom      11
Australia            8
                    ..
Diamond Princess     1
Fiji                 1
Eritrea              1
Turkey               1
Eswatini             1
Name: Country/Region, Length: 185, dtype: int64

In [35]:
df_locations = df.iloc[:,:4]
df_locations['reference']=df.index
display(df_locations.head())
df_data = df.iloc[:,4:]
df_data['location']=df.index
df_data.set_index('location',inplace=True)
df_data = df_data.T
df_data.head()

  Province/State Country/Region      Lat     Long  reference
0            NaN    Afghanistan  33.0000  65.0000          0
1            NaN        Albania  41.1533  20.1683          1
2            NaN        Algeria  28.0339   1.6596          2
3            NaN        Andorra  42.5063   1.5218          3
4            NaN         Angola -11.2027  17.8739          4

location,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0

In [22]:
df.T.head()

,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian Capital Territory,New South Wales,...,NaN,NaN,"Bonaire, Sint Eustatius and Saba",NaN,Falkland Islands (Malvinas),Saint Pierre and Miquelon,NaN,NaN,NaN,NaN
Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Australia,...,Burundi,Sierra Leone,Netherlands,Malawi,United Kingdom,France,South Sudan,Western Sahara,Sao Tome and Principe,Yemen
Lat,33,41.1533,28.0339,42.5063,-11.2027,17.0608,-38.4161,40.0691,-35.4735,-33.8688,...,-3.3731,8.46056,12.1784,-13.2543,-51.7963,46.8852,6.877,24.2155,0.18636,15.5527
Long,65,20.1683,1.6596,1.5218,17.8739,-61.7964,-63.6167,45.0382,149.012,151.209,...,29.9189,-11.7799,-68.2385,34.3015,-59.5236,-56.3159,31.307,-12.8858,6.61308,48.5164
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0