In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
confirmed_file = '../csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'

df = pd.read_csv(confirmed_file)
display(df.head())
print(df.shape)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,906,933,996,1026,1092,1176,1279,1351,1463,1531
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,539,548,562,584,609,634,663,678,712,726
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,2418,2534,2629,2718,2811,2910,3007,3127,3256,3382
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,696,704,713,717,717,723,723,731,738,738
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,19,24,24,24,24,25,25,25,25,26

(264, 100)

In [16]:
df.isnull().sum()

Province/State    182
Country/Region      0
Lat                 0
Long                0
1/22/20             0
                 ...
4/22/20             0
4/23/20             0
4/24/20             0
4/25/20             0
4/26/20             0
Length: 100, dtype: int64

In [17]:
df['Country/Region'].value_counts()

China             33
Canada            15
United Kingdom    11
France            11
Australia          8
                  ..
Kyrgyzstan         1
Peru               1
Czechia            1
Paraguay           1
Bulgaria           1
Name: Country/Region, Length: 185, dtype: int64